.end-message {
  font-weight: bold;
  text-align: center;
}

.won {
  color: rgb(36, 211, 36);
}

.lost {
  color: red;
}

@media screen and (min-width: 481px) {
  .end-message {
    font-size: 50px;
  }
}

@media screen and (max-width: 480px) {
  .end-message {
    font-size: 20px;
  }
}